* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Merriweather, serif;
    background-image: url('../../images/circle-background.svg');

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;

}

.dashboard-container {
    margin: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.dashboard-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}


.main-content {
    width: 100%;
    padding: 10px;
}

.dashboard-container {
    margin-left: 240px;
    padding: 20px;
}

.welcome-section {
    background-image: url('../../images/bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.welcome-section h2 {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    color: #ffffff;
}

.welcome-section p {
    font-size: 18px;
    margin: 15px 0;
    color: #f0f0f0;
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #222;
}

.section-titles {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.section-content {
    margin-bottom: 30px;
}

.section-content ul {
    list-style: none;
    padding: 0;
}

.section-content ul li {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.3s;
}

.section-content ul li:hover {
    background-color: #f9f9f9;
}

.section-content ul li a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s;
}

.section-content ul li a:hover {
    color: #0056b3;
}

.section-content ul li {
    animation: fadeIn 0.5s ease forwards;
    opacity: 0;
}


.result-container {
    display: flex;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.result-container img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.result-data {
    flex: 1;
}

.result-data a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s;
}

.result-data a:hover {
    color: #0056b3;
}


.search-box {
    display: flex;
    align-items: center;
    gap: 10px;
}


#searchInput {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#searchButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}


#searchButton:hover {
    background-color: #0056b3;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination span {
    margin: 0 10px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.delete-button,
.manage-user-button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.manage-user-button {
    background-color: #007bff;
}
