<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <meta property="og:title" content="SnipLink.xyz - Link Shortener">
    <meta property="og:description" content="Shorten your long URLs and share them easily with SnipLink.xyz.">
    <meta property="og:image" content="https://sniplink.xyz/images/sniplink-banner.png">
    <meta property="og:url" content="https://sniplink.xyz">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="SnipLink.xyz">
    <meta property="og:locale" content="en_US">

    <meta name="twitter:title" content="SnipLink.xyz - Link Shortener">
    <meta name="twitter:description" content="Shorten your long URLs and share them easily with SnipLink.xyz.">
    <meta name="twitter:image" content="https://sniplink.xyz/images/sniplink-banner.png">
    <meta name="twitter:card" content="summary_large_image">

    <meta name="keywords" content="SnipLink, SnipLink.xyz, link shortener, shorten links, URL shortener, link branding, link management, analytics, QR code links, API support, upcoming features, password protection">
    <meta name="author" content="SnipLink">
    <meta name="robots" content="index, follow">
    <meta name="language" content="English">
    <meta name="revisit-after" content="7 days">
    <meta name="distribution" content="global">
    <meta name="rating" content="general">
    <meta name="referrer" content="always">
    <meta name="apple-mobile-web-app-title" content="SnipLink">
    <meta name="theme-color" content="#007bff">

    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/stylesheets/index.css">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1720129279769578"
            crossorigin="anonymous"></script>

</head>

<%- include('partials/preloader') %>

<body>

<a href="#" class="to-top-button" id="to-top-button" data-aos="fade-up" data-aos-duration="800" data-aos-once="true">
    <i class="fas fa-arrow-up"></i>
</a>
<%- include('partials/navbar') %>
<div class="main-content" id="welcome">
    <img class="svg-wave" src="/images/wave1.svg" alt="Footer Wave">

    <h1>Welcome to SnipLink.xyz</h1>
    <p>Shorten your long URLs and share them easily with this modern link shortener. It's fast, secure, and efficient!</p>
    <a class="action-button" href="/dashboard">Get Started</a>
</div>

<section class="section1">
    <img class="svg-wave" src="/images/wave1.svg" alt="Footer Wave">
    <div class="section1-text">Shorten links effortlessly with SnipLink.xyz!</div>
</section>

<section class="section2" id="about" data-aos="fade-up" data-aos-duration="800" data-aos-once="true">
    <div class="section2-box">
        <div class="section2-title">About SnipLink.xyz</div>
        <p class="section2-text">
            SnipLink.xyz is a user-friendly link shortener designed to make long URLs more manageable. Our platform streamlines the process of creating short, shareable links, so you can easily share your favorite content with friends and followers. With SnipLink.xyz, sharing links has never been easier.
        </p>
    </div>
</section>


<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1720129279769578"
        crossorigin="anonymous"></script>
<!-- Square Responsive Ad -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1720129279769578"
     data-ad-slot="2325492386"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<section class="features-section" id="features" data-aos="fade-up" data-aos-duration="800" data-aos-once="true">
    <section class="features-section">
        <h2 class="section-title">Features</h2>
        <div class="feature">
            <i class="fas fa-link feature-icon"></i>
            <div class="feature-title">Shorten Links</div>
            <div class="feature-description">SnipLink.xyz allows you to effortlessly shorten long URLs into concise and shareable links, saving you valuable character space.</div>
        </div>
        <div class="feature">
            <i class="fas fa-chart-line feature-icon"></i>
            <div class="feature-title">Analytics Tracking</div>
            <div class="feature-description">Track and analyze your links' performance with built-in analytics, helping you understand link engagement and reach.</div>
        </div>
        <div class="feature">
            <i class="fas fa-users feature-icon"></i>
            <div class="feature-title">Collaboration</div>
            <div class="feature-description">Effortless Discord collaboration with shortened links. Share and connect seamlessly on Snapchat, TikTok, Facebook, and other platforms for enhanced sharing!</div>
        </div>
    </section>
</section>

<section class="partners-section" id="partners" data-aos="fade-up" data-aos-duration="800" data-aos-once="true">
    <div class="partners-title">Partners and Integrations</div>
    <p class="partners-description">Discover our exciting partnerships and integrations, including the Rick Roll Link generator, to enhance your link shortening experience.</p>
    <div class="partner">
        <img src="/images/sponsor_logo.png" alt="Partner Logo">
        <p class="partner-description">We've partnered with the Rick Roll Link generator to bring you a fun and entertaining way to share links with friends. Now you can surprise them with a classic Rick Astley video when they click the link!</p>
        <a class="view-sponsor-button" href="https://r.mtdv.me/" target="_blank">View Partner</a>
    </div>
</section>
<section class="how-it-works" id="how-it-works">
    <div class="how-it-works-title">How it works</div>
    <div class="step">
        <h2>1. Paste & Edit</h2>
        <p1>Simply paste your link and edit it as needed. Customize the URL to your liking.</p1>
    </div>
    <div class="step">
        <h2>2. Shorten It</h2>
        <p1>Shorten your customized link with just a click. Get a concise and shareable URL.</p1>
    </div>
    <div class="step">
        <h2>3. Share on Social Media</h2>
        <p1>Share your shortened link on your favorite social media platforms effortlessly.</p1>
    </div>
</section>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1720129279769578"
        crossorigin="anonymous"></script>
<!-- Square Responsive Ad -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1720129279769578"
     data-ad-slot="2325492386"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<section class="statistics-section" id="statistics" data-aos="fade-up" data-aos-duration="800" data-aos-once="true">
    <div class="statistics-title">Statistics</div>
    <div class="statistics-data">
        <div class="statistics-item">
            <div class="statistics-icon-circle">
                <i class="fas fa-link statistics-icon"></i>
            </div>
            <div class="statistics-label">Total Links Shortened</div>
            <div class="statistics-value count-up" id="total-links-count">0</div>
        </div>
        <div class="statistics-item">
            <div class="statistics-icon-circle">
                <i class="fas fa-users statistics-icon"></i>
            </div>
            <div class="statistics-label">Total Users</div>
            <div class="statistics-value count-up" id="total-users-count">0</div>
        </div>
    </div>
</section>

<section class="join-community-section" id="discord" data-aos="fade-up" data-aos-duration="800" data-aos-once="true">
    <div class="join-title">Join Our Discord Community</div>
    <p class="join-description">Join our Discord server to stay updated with the latest news, updates, and exclusive offers!</p>
    <a class="discord-button" href="https://discord.gg/gXCnF9NcE6">Join Discord Server</a>
</section>

<%- include('partials/footer') %>

</body>
<script>
    window.onload = function() {
        var script1 = document.createElement('script');
        script1.src = 'https://unpkg.com/aos@2.3.1/dist/aos.js';
        document.body.appendChild(script1);

        var script2 = document.createElement('script');
        script2.src = 'https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js';
        document.body.appendChild(script2);

        script2.onload = function() {
            AOS.init();
        }
    }
</script>
<script src="/javascripts/index.js" async></script>


<style>
    .to-top-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 50px;
        height: 50px;
        background-color: #007bff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
    }

    .to-top-button.active {
        opacity: 1;
        visibility: visible;
    } /*TODO: Add the to-top button*/
</style>



</html>
