<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 Internal Server Error</title>
    <link rel="stylesheet" href="/stylesheets/505.css">

</head>
<body>
<div class="particle-container" id="particles-js"></div>
<div class="glitch-container">
    <div class="glitch" data-text="500">500</div>
    <p>Internal Server Error</p>
    <p>Oops! Something went wrong on our end. We're working to fix this issue.</p>
    <div class="button-container">
        <a href="/">Go Home</a>
        <a href="https://discord.gg/gXCnF9NcE6" class="button">Discord Support Server</a>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
</body>
</html>
<script src="/javascripts/500.js"></script>
