<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You are Banned</title>
    <link rel="stylesheet" href="/stylesheets/ban.css">
</head>
<body>
<div class="ban-container">
    <h1 class="ban-title">You are Banned</h1>
    <p class="ban-text">We're sorry, but you have been banned from accessing SnipLink.xyz.</p>
    <div class="ban-reason">
        <p><strong>Reason for ban:</strong></p>
        <p><strong><%= reason %></strong></p>
    </div>
    <p class="ban-text">If you believe this is a mistake or would like to request an unban, please join our <a class="discord-link" href="https://discord.gg/gXCnF9NcE6">Discord server</a> and contact our support team.</p>
</div>
</body>
</html>
