<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged Out</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/logout.css">

</head>

<body>
<div class="container">
    <h1>Logged Out</h1>
    <p>You have been successfully logged out.</p>
    <div class="action-buttons">
        <a class="action-button" href="/">Back to Main Page</a>
        <a class="action-button" href="/login">Log Back In</a>
    </div>
</div>
</body>

</html>
