<link rel="stylesheet" href="/stylesheets/partials/admin-sidebar.css">

<div class="sidebar">
    <div class="sidebar-header">
    </div>
    <ul class="sidebar-menu">
        <li>
            <a href="/admin/dashboard">
                <i class="fas fa-tachometer-alt"></i>
                Dashboard
            </a>
        </li>
        <li>
            <a href="/admin/api">
                <i class="fas fa-link"></i>
                API
            </a>
        </li>
        <li>
            <a href="/admin/user-management">
                <i class="fas fa-users"></i>
                User Management
            </a>
        </li>
        <li>
            <a href="/admin/link-management">
                <i class="fas fa-external-link-alt"></i>
                Link Management
            </a>
        </li>
        <li>
            <a href="/admin/link-analytics">
                <i class="fas fa-chart-bar"></i>
                Link Analytics
            </a>
        </li>
        <li>
            <a href="/admin/general-settings">
                <i class="fas fa-cog"></i>
                General Settings
            </a>
        </li>
        <li>
            <a href="/admin/health">
                <i class="fas fa-heartbeat"></i>
                Health
            </a>
        </li>
        <li>
            <a href="/logout">
                <i class="fas fa-sign-out-alt"></i>
                Logout
            </a>
        </li>
    </ul>
</div>
