<link rel="stylesheet" href="/stylesheets/partials/footer.css">

<footer class="footer" data-aos="fade-up" data-aos-duration="800" data-aos-once="true">
    <div class="footer-content">
        <div class="footer-logo">
            <span>SnipLink.xyz</span>
        </div>
        <div class="footer-links">
            <a href="/#about">About Us</a>
            <a href="https://discord.gg/gXCnF9NcE6t">Discord</a>
            <a href="/legal/privacy-policy">Privacy Policy</a>
            <a href="/legal/terms-of-service">Terms of Service</a>
        </div>
        <div class="footer-social">
            <a href="https://discord.gg/gXCnF9NcE6" class="discord-icon"><i class="fab fa-discord"></i></a>
        </div>
    </div>
    <div class="footer-disclaimer">
        &copy; 2024 SnipLink.xyz. All rights reserved. Developed by <a href="https://github.com/iiAlanii" target="_blank" rel="noopener noreferrer" class="developer-link">Mirko</a>.
    </div>
</footer>
<style>

</style>