
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    height: 100%;
    width: 240px;
    background-color: #282c34;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar-header {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar-title {
    font-size: 24px;
    font-weight: bold;
}
.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu li {
    margin-bottom: 15px;
}

.sidebar-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    transition: 0.2s;
}

.sidebar-menu i {
    margin-right: 10px;
}

.sidebar-menu a:hover {
    background-color: #0056b3;
    padding: 10px 20px;
    border-radius: 5px;
}