<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link Already Connected</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background: linear-gradient(to bottom, #232931, #3a3f51);
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            text-align: center;
            max-width: 90%;
            padding: 40px;
            border-radius: 10px;
            background-color: #3a3f51;
            color: #fff;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
            box-sizing: border-box;
        }

        h1 {
            font-size: 2.5em;
            margin-bottom: 20px;
            color: #61dafb;
        }

        p {
            font-size: 1.2em;
            line-height: 1.6;
            margin-bottom: 20px;
        }

        a {
            color: #fff;
            text-decoration: none;
            font-weight: bold;
        }

        a:hover {
            text-decoration: underline;
        }

        @media only screen and (min-width: 768px) {
            .container {
                max-width: 600px;
            }
        }
    </style>
</head>

<body>
<div class="container">
    <h1>Oops!</h1>
    <p>The link from <strong>r.mtdv.me</strong> is already connected with <strong>sniplink.xyz</strong>.</p>
    <p>Try creating a new link on <strong>r.mtdv.me</strong> and linking it with us again. If the problem persists, please contact us on our <a href="YOUR_DISCORD_SERVER_LINK" target="_blank">Discord server</a>.</p>  <!-- Add Discord link -->
</div>
</body>

</html>
