<!-- invalidLink.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invalid Link</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #232931;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            text-align: center;
            padding: 40px;
            background-color: #3a3f51;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            max-width: 600px;
            width: 90%;
        }

        h1 {
            color: #61dafb;
            margin-bottom: 20px;
            font-size: 3rem;
        }

        p {
            margin-bottom: 20px;
            font-size: 1.2rem;
            line-height: 1.6;
        }

        a {
            display: inline-block;
            color: #fff;
            text-decoration: none;
            font-weight: bold;
            background-color: #61dafb;
            padding: 10px 20px;
            border-radius: 20px;
            transition: all 0.3s ease;
        }

        a:hover {
            background-color: #43a1db;
        }

        @media (max-width: 768px) {
            .container {
                padding: 30px;
            }
        }

        @media (max-width: 480px) {
            .container {
                padding: 20px;
            }
            h1 {
                font-size: 2.5rem;
            }
            p {
                font-size: 1rem;
            }
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Uh-oh!</h1>
    <p>It seems like the link you're trying to access doesn't exist.</p>
    <p>Go back to <a href="https://r.mtdv.me" target="_blank" rel="noopener noreferrer">r.mtdv.me</a> and give it another shot.</p>
    <p>If you're still having trouble, reach out to us on our <a href="https://discord.com/" target="_blank" rel="noopener noreferrer">Discord server</a>.</p>
</div>
</body>
</html>
